*, *:before, *:after {
  box-sizing: border-box;
}
body {
  width: 100%;
}
.firstWindow {
  padding: 20%;
}
.secondWindow {
  padding: 10%;
  overflow: hidden;
}
.firstWindow, .secondWindow {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}
.firstWindow h1, h2 {
  margin-bottom: 50px;
  font-family: "Source Sans Pro";
  font-weight: 300;
}
.firstWindow h1 {
  font-size: 3em;
}
.firstWindow h2 {
  font-size: 2em;
}
.firstWindow img {
  width: 100px;
  height:50px;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.firstWindow img:hover {
  width: 130px;
  height: 60px;
  opacity: 0.25;
}
.secondWindow {
  background-color: #699a9a;
}
.outermost, .innermost, .inner {
  opacity: 0;
  transition: all .5s ease-in-out;
}
.outermost {
  overflow: visible;
  width: 400px;
  height: 400px;
  background-color: #256767;
  margin: auto;
}
.inner {
  overflow: visible;
  position: relative;
  top: -20%;
  left: -20%;
  width: 300px;
  height: 300px;
  background-color: #d5b36e;
}
.innermost {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: #ac3d3d;
  top: 50%;
  left: 50%;
}
.active {
  opacity: 0.5;
}
#scrollBtn {
  display: inline-block;
}
#scrollBtn img:hover {
  cursor: pointer;
}
.inner:hover, .innermost:hover, .outermost:hover {
  opacity: 1;
}
/*Progress bar*/
progress {
  position: fixed;
  top: -5px;
  left: 0;
  width: 100%;
  background: white;
  height: .5em;
}
progress::-webkit-progress-bar { background: #fff; }
progress::-webkit-progress-value { background: black; }